.img {
  min-width: 90px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  box-shadow: 0 3px 0 0 rgb(255, 255, 255);
}

img.na {
  opacity: 0.5;
  box-shadow: 0 3px 0 0 rgb(255, 255, 255);
}

.marq {
  position: fixed;
  top: 0%;
  width: 100%;
}

.home-img {
  min-width: 5%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  box-shadow: -3px 0 0 0 rgb(255, 255, 255),
    3px 0 0 0 rgb(255, 255, 255),
    0 -3px 0 0 rgb(255, 255, 255),
    0 3px 0 0 rgba(255, 255, 255);
  max-width: 90px;
  background-color: #000000;
}

.cardTaken {
  box-shadow: -3px 0 0 0 rgba(255, 255, 255, 0.3),
    3px 0 0 0 rgb(255, 255, 255, 0.3),
    0 -3px 0 0 rgb(255, 255, 255, 0.3),
    0 3px 0 0 rgb(255, 255, 255, 0.3);
  max-width: 90px;
  background-color: #000000;
}


.container {
  padding: 4px 3px;
}

.checkButton {
  opacity: 100%;
  padding: 4px 4px;
  margin-bottom: 5px;
  transition: 0.1s;
  width: 60px;
  background-color: #000000;
  box-shadow: -2px 0 0 0 rgb(255, 255, 255),
    2px 0 0 0 rgb(255, 255, 255),
    0 -2px 0 0 rgb(255, 255, 255),
    0 2px 0 0 rgb(255, 255, 255);

}


.checkButton:hover {
  background-color: #ffffff;
  color: #000000;
}


.doneButton {
  opacity: 100%;
  padding: 4px 4px;
  transition: 0.1s;
  margin-bottom: 5px;
  width: 60px;
  box-shadow: -2px 0 0 0 rgb(255, 255, 255, 0.5),
    2px 0 0 0 rgb(255, 255, 255, 0.5),
    0 -2px 0 0 rgb(255, 255, 255, 0.5),
    0 2px 0 0 rgb(255, 255, 255, 0.5);
  font-weight: bold;
}

.alert {
  padding: 20px;
  background-color: #616161;
  color: white;
  margin-bottom: 15px;
  bottom: 0;
  right: 0;
  box-shadow: -3px 0 0 0 rgb(255, 255, 255),
    3px 0 0 0 rgb(255, 255, 255),
    0 -3px 0 0 rgb(255, 255, 255),
    0 3px 0 0 rgb(255, 255, 255);
}

.alert.ok {
  background-color: #000000;
}

.alert.taken {
  background-color: #d43737;
}

#toastBox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.insc {
  display: none;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

body {
  font-family: Sans-serif;
  background-color: #000000;
  color: white;
}

h1 {
  color: white;
}

hr {
  padding-top: 2px;
  padding-bottom: 8px;
  margin: auto;
  max-width: 90%;
}

.pageButton {
  padding-left: 3px;
  padding-right: 3px;

}

.pageButton:hover {
  color: #ff6600;
}

hr.na {
  border-color: rgba(255, 255, 255, 0.5);
}

.nav-button:hover {
  color: #ff6600;
}

.hello {
  font-family: sans-serif;
}

.accordion {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: -3px 0 0 0 rgb(255, 255, 255),
    3px 0 0 0 rgb(255, 255, 255),
    0 -3px 0 0 rgb(255, 255, 255),
    0 3px 0 0 rgb(255, 255, 255);
  max-width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 650px) {
  .alert {
    max-width: 333px;
    white-space: nowrap;
    overflow: hidden;
  }
}

.active,
.accordion:hover {
  background-color: #000000;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  width: 80%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.accordion:after {
  content: '\00ff0b';
  color: #ffffff;
  float: right;
  margin-left: 5px;
  display: block;
}

.active:after {
  content: "\2212";
  color: #ffffff;
  float: right;
  margin-left: 5px;
  display: block;
}


.navnum {
  width: 80%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

}


.feeter {
  width: 80%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}